
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 2.7rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}
p {
  font-size: 20px;
}
@media (max-width: 1520px) {
  h1 {
    font-size: 3.4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.7rem;
  }
  h6 {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.45rem;
  }
  h6 {
    font-size: 1.15rem;
  }
}

.navbarHide {
    display: none;
  }
nav {
  background: #02113f;
  padding: 0 20px;
}
nav .container {
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
nav .container .logo {
  width: 150px;
  height: 150px;
}
nav .container .logo img {
  width: 100%;
  height: 100%;
}
nav .menu {
  display: flex;
  gap: 35px;
  align-items: center;
}
nav .menu button {
  height: fit-content;
  padding: 7px;
  border: 1px solid #f1f3f6;
  color: #f1f3f6;
  background: transparent;
  font-size: 20px;
  font-weight: 300;
}
nav .menu button:hover {
  color: #f1f3f6;
  background: #184235;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #184235;
}
nav .menu li a {
  color: #f1f3f6;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  position: relative;
}
nav .menu li a:hover {
  color: #2d5649;
  transition: all 0.3s;
}
nav .menu li a::before {
  content: "";
  position: absolute;
  background: #184235;
  height: 1px;
  width: 100%;
  left: -100%;
  bottom: 0;
  transition: all 0.3s;
}
nav .menu li a:hover::before {
  transition: all 0.3s;
  left: 0;
}
nav .hamburger {
  display: none;
}
@media (max-width: 1520px) {
  nav .container {
    min-width: 100%;
  }
}
@media (max-width: 1130px) {
  .page {
    padding-top: 120px;
  }
  nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
  }
  nav .hamburger {
    display: block;
    font-size: 35px;
    color: #f1f3f6;
  }
  nav .container {
    align-items: center;
  }
  .menu {
    position: fixed;
    top: 120px;
    background: #f1f3f6;
    left: -100%;
    transition: all 0.3s;
    width: 400px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    padding-left: 25px;
  }
  nav .show-menu {
    position: fixed;
    top: 120px;
    background: #f1f3f6;
    transition: all 0.3s;
    left: 0;
    width: 400px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    padding-left: 25px;
    box-shadow: 9px 0px 16px 0px rgba(5, 15, 85, 0.75);
    -webkit-box-shadow: 9px 0px 16px 0px rgba(5, 15, 85, 0.75);
    -moz-box-shadow: 9px 0px 16px 0px rgba(5, 15, 85, 0.75);
  }
  nav .show-menu li a {
    color: #184235;
    font-weight: 600;
  }
  nav .show-menu button {
    color: #184235;
    border: 1px solid #184235;
    font-weight: 600;
  }
  nav .show-menu button:hover {
    background: #18191c;
    color: #f1f3f6;
  }
}
@media (max-width: 490px) {
  nav .menu {
    width: 100%;
  }
}




.footerShow {
  background:#02113f;
  display: flex;
  justify-content: space-between;
  padding: 25px 120px;
  align-items: center;
}
.footerShow div {
  display: flex;
  gap: 12px;
  font-size: 16px;
  color: #f1f3f6;
}
.footerShow div a {
  font-size: 20px;
  text-decoration: none;
  color: #f1f3f6;
}
.footerShow div a:hover {
  color: #2d5649;
  transform: scale(1.2);
  transition: all 0.3s;
}
.footerHide {
  display: none;
}
@media (max-width: 830px) {
  .footerShow {
    padding: 25px 45px;
  }
}
@media (max-width: 550px) {
  .footerShow {
    flex-direction: column-reverse;
    gap: 25px;
    text-align: center;
  }
}

.jobs {
  background: #D6EAF8;
  min-height: 100vh;
  padding: 50px 20px;
}
.jobs .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
  gap: 35px;
}
.jobs .container .banner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  justify-content: center;
  padding: 30px 0;
}
.jobs .container .banner .card {
  background: #fff;
  text-decoration: none;
  width: 320px;
  height: 220px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.jobs .container .banner .card:hover {
  transition: all 0.3s;
  box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
}
.jobs .container .banner .card p:first-child {
  font-weight: bold;
  font-size: 1.6rem;
}
.jobs .container .banner .card p:nth-child(2) {
  font-size: 1.3rem;
  color: gray;
}
.jobs .container .banner .card p:last-child {
  font-size: 1rem;
  color: gray;
}
.jobs .container .banner .card a {
  text-decoration: none;
  padding: 7px;
  font-size: 20px;
  background: rgb(92, 212, 255);
  width: 100%;
  display: block;
  text-align: center;
}
@media (max-width: 1520px) {
  .jobs .container {
    min-width: 100%;
  }
}
@media (max-width: 1060px) {
  .jobs .container .banner .card {
    width: 360px;
  }
}
@media (max-width: 795px) {
  .jobs .container .banner .card {
    width: 100%;
  }
}

.jobDetail {
  background:#D6EAF8;
  padding: 50px 20px;
}
.jobDetail .container {
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jobDetail .container .banner {
  width: 100%;
  min-height: 767px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}
.jobDetail .container .banner p {
  font-weight: bold;
  color: #2206a1;
}
.jobDetail .container .banner p span {
  color: #18191c;
  font-weight: 400;
}
.jobDetail .container .banner a {
  background-color: #2d5649;
  color: rgb(233, 249, 255);
  font-size: 20px;
  font-weight: 400;
  border: none;
  padding: 12px 30px;
  text-decoration: none;
  margin-top: 10px;
  width: fit-content;
}
@media (max-width: 1520px) {
  .jobDetail .container {
    min-width: 100%;
  }
}



.my_applications {
  background: #D6EAF8;
  padding: 50px 20px;
  min-height: 885px;
}
.my_applications .container {
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.job_seeker_card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  padding: 20px 0;
}
.job_seeker_card .detail {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.job_seeker_card .detail {
  flex: 2;
}
.job_seeker_card .detail span {
  font-weight: bold;
}
.job_seeker_card .resume {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.job_seeker_card .resume {
  position: relative;
  height: 250px;
}
.job_seeker_card .resume img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.job_seeker_card .btn_area {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.job_seeker_card .btn_area button {
  background: #ce130c;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 25px;
  display: flex;
  gap: 3px;

}
@media (max-width: 1520px) {
  .my_applications .container {
    min-width: 100%;
  }
}
@media (max-width: 1150px) {
  .job_seeker_card .detail {
    flex: 1;
  }
  .job_seeker_card .resume {
    flex: 1;
  }
  .job_seeker_card .btn_area {
    flex: 1;
  }
}
@media (max-width: 850px) {
  .job_seeker_card {
    flex-direction: column;
    align-items: flex-start;
  }
  .job_seeker_card .detail {
    flex: none;
  }
  .job_seeker_card .resume {
    flex: none;
    width: 320px;
    margin: 30px 0;
  }
  .job_seeker_card .btn_area {
    flex: none;
  }
}
@media (max-width: 360px) {
  .job_seeker_card,
  .job_seeker_card .resume {
    width: 100%;
  }
}

.job_post {
  background: #D6EAF8;
  padding: 50px 20px;
  min-height: 870px;
  display: flex;
  align-items: center;
}
.job_post .container {
  max-width: 1500px;
  min-width: 1500px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  margin: 0 auto;
}
.job_post .container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.job_post .container form .wrapper {
  display: flex;
  gap: 5vw;
}
.job_post .container form .wrapper input,
.job_post .container form .wrapper select {
  flex: 1;
  font-size: 20px;
  padding: 7px 4px;
  border: none;
  background: transparent;
  border-bottom: 1px solid gray;
}
.job_post .container form input,
.job_post .container form textarea {
  font-size: 20px;
  padding: 7px 4px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
}
.job_post .container form input:focus,
.job_post .container form .wrapper input:focus,
.job_post .container form .wrapper select:focus,
.job_post .container form textarea:focus,
.job_post .container form .salary_wrapper select:focus {
  outline: none;
}
.job_post .container form .salary_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.job_post .container form .salary_wrapper p {
  color: #d9534f;
  font-size: 17px;
  font-weight: 800;
}
.job_post .container form .salary_wrapper select {
  width: fit-content;
  font-size: 20px;
  padding: 7px 4px;
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
}
.job_post .container form .salary_wrapper .ranged_salary {
  display: flex;
  gap: 5vw;
}

@media (max-width: 1520px) {
  .job_post .container {
    min-width: 100%;
  }
}
@media (max-width: 630px) {
  .job_post .container {
    min-width: 100%;
  }
  .job_post .container form .wrapper,
  .job_post .container form .salary_wrapper,
  .job_post .container form .salary_wrapper .ranged_salary {
    flex-direction: column;
    gap: 20px;
  }
  .job_post .container form .salary_wrapper select {
    width: 100%;
  }
}


.myJobs {
  background: #D6EAF8;
  padding: 50px 20px;
  min-height: 870px;
}
.myJobs .container {
  min-width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.myJobs .container .banner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}
.myJobs .container .banner .card {
  width: 100%;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #18191c;
  padding: 10px 0;
}
.myJobs .container .banner .card .content {
  flex: 3;
  display: flex;
  gap: 20px;
}
.myJobs .container .banner .card .content span {
  font-size: 25px;
  margin-right: 6px;
  font-weight: bold;
}
.myJobs .container .banner .card .content input,
.myJobs .container .banner .card .content select {
  background: transparent;
  font-size: 20px;
  border: none;
  color: #18191c;
  padding: 7px 4px;
}
.myJobs .container .banner .card .content input:enabled,
.myJobs .container .banner .card .content select:enabled {
  border-bottom: 1px solid rgb(68, 68, 68);
}
.myJobs .container .banner .card .content input:disabled,
.myJobs .container .banner .card .content select:disabled {
  color: rgb(68, 68, 68);
}
.myJobs .container .banner .card .content .short_fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.myJobs .container .banner .card .content .short_fields .input {
  font-size: medium;
}
.myJobs .container .banner .card .content .long_field {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.myJobs .container .banner .card .content .short_fields div,
.myJobs .container .banner .card .content .long_field div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.myJobs .container .banner .card .content .short_fields div div {
  display: flex;
  gap: 12px;
  flex-direction: row;
}
.myJobs .container .banner .card .content .long_field textarea {
  background: transparent;
  font-size: 20px;
  color: #18191c;
  border: none;
  padding: 7px 4px;
  height: fit-content;
}
.myJobs .container .banner .card .content .long_field textarea:disabled {
  color: rgb(68, 68, 68);
}
.myJobs .container .banner .card .content .long_field textarea:enabled {
  border-bottom: 1px solid gainsboro;
}
.myJobs .container .banner .card .content .long_field textarea:focus,
.myJobs .container .banner .card .content input:focus {
  outline: none;
}
.myJobs .container .banner .card .button_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.myJobs .container .banner .card .button_wrapper .edit_btn,
.myJobs .container .banner .card .button_wrapper .delete_btn {
  width: 180px;
  color: #18191c;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 7px;
  border: none;
  background: #ffbf00;
}
.myJobs .container .banner .card .button_wrapper .delete_btn {
  background: #d60700;
  color: #f1f3f6;
}
.myJobs .container .banner .card .button_wrapper .check_btn {
  background: transparent;
  color: #011608;
  border: 1px solid #071a01d9;
  border-radius: 7px;
  width: 50px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;

}
.myJobs .container .banner .card .button_wrapper .check_btn:hover {
  transition: all 0.3s;
  background: #03eb31f9;
  color: #f1f3f6;
}
.myJobs .container .banner .card .button_wrapper .cross_btn {
  background: transparent;
  color: #d9534f;
  border: 1px solid #d9534f;
  border-radius: 7px;
  width: 50px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.myJobs .container .banner .card .button_wrapper .cross_btn:hover {
  transition: all 0.3s;
  background: #cb0802;
  color: #f1f3f6;
}
.myJobs .container .banner .card .button_wrapper .edit_btn_wrapper {
  gap: 20px;
  display: flex;
}

@media (max-width: 1520px) {
  .myJobs .container {
    min-width: 100%;
  }
}
@media (max-width: 830px) {
  .myJobs .container .banner .card {
    flex-direction: column;
  }
  .myJobs .container .banner .card .content {
    flex-direction: column;
  }
  .myJobs .container .banner .card .content .long_field,
  .myJobs .container .banner .card .content .short_fields {
    gap: 8px;
  }
  .myJobs .container .banner .card .content .short_fields div,
  .myJobs .container .banner .card .content .long_fields div {
    gap: 8px;
  }
}




.resume-modal {
  width: 100%;
  display: flex;
  background: #00000085;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.resume-modal .modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.resume-modal .modal-content .close {
  position: absolute;
  right: 36px;
  top: 35px;
  font-size: 100px;
  height: 80px;
  width: 80px;
  color: #b40c06;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.resume-modal .modal-content .close:hover {
  cursor: pointer;
}
.resume-modal .modal-content img {
  max-width: 550px;
  height: auto;
}
@media (max-width: 1130px) {
  .resume-modal {
    z-index: 11;
  }
}


